//
   Created by eviolette on 6/22/17.

extends layout

block content
    h1= title
    p Form Submitted.
    body
        form(id='ret', method='GET', action='/')
            input(type='submit', value='Return to Home')

